{% extends 'blog/layout.html' %}


{% block title %}
    Search: {{ query }}
{% endblock title %}
    

{% block body %}


<!-- Heading -->
<section class="container index_container">
    <h3 class="mb-4"><strong>Showing results for:</strong> <span id="search_query">{{ query }}</span></h3>
</section>

<section>
    <div class="container-lg index_container">
{% for item in search_result %}
    <a href="{% url 'view_blog' item.id %}" class="card_link">
        <div class="card rounded-4 overflow-hidden mt-4 border-0 border">
            <div class="row">
                <div class="col-md-8">
                    <div class="overflow-hidden user_image_container">
                        <img src="{{ item.image.url }}" class="img-fluid zoom display_animation user_image_control">
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="card-body d-flex flex-column">
                        <p class="card_info_font mt-2">{{ item.category }}</p>
                        <h3 class="mb-5">
                            <strong>{{ item.title }}</strong>
                        </h3>
                        <div class="mt-auto d-flex flex-md-column justify-content-between">
                            <p class="card_info_font mt-auto">Written by: {{ item.author }}</p>
                            <p class="card_info_font mt-auto mb-0">{{ item.readtime }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
{% endfor %}
    </div>
</section>

<!-- Footer -->
<footer style="height: 250px">
    <div class="container index_container">
        <nav style="--bs-breadcrumb-divider: '>';" class="p-5 text-center position-relative mt-5">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="card_link" href="{% url 'index' %}">Home</a></li>  
                <li class="breadcrumb-item active"><a class="card_link" href="{% url 'search' %}">Search</a></li>                       
            </ol>

            <a href="#" class="position-absolute bottom-0 end-0 p-5 text-secondary">
                <i class="bi bi-arrow-up-circle h1"></i>
            </a>
        </nav>
    </div>
</footer>
    
{% endblock body %}
    